<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NuovaCampagna</servlet-name>
    <servlet-class>servlet.CreazioneCampagna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuovaCampagna</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttivaCampagna</servlet-name>
    <servlet-class>servlet.AttivazioneCampagna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttivaCampagna</servlet-name>
    <url-pattern>/servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelezionaImmagine</servlet-name>
    <servlet-class>servlet.SelezioneImmagine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelezionaImmagine</servlet-name>
    <url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccettaImmagine</servlet-name>
    <servlet-class>servlet.AccettazioneSelezioneImmagine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccettaImmagine</servlet-name>
    <url-pattern>/servlet6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RifiutaImmagine</servlet-name>
    <servlet-class>servlet.NonAccettazioneSelezioneImmagine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RifiutaImmagine</servlet-name>
    <url-pattern>/servlet7</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditaCampagna</servlet-name>
    <servlet-class>servlet.ModificareCampagna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaCampagna</servlet-name>
    <url-pattern>/servlet8</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnotaImmagine</servlet-name>
    <servlet-class>servlet.AnnotazioneImmagine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnotaImmagine</servlet-name>
    <url-pattern>/servlet9</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminaCampagna</servlet-name>
    <servlet-class>servlet.EliminazioneCampagna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaCampagna</servlet-name>
    <url-pattern>/servlet10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticheCampagnaGestore</servlet-name>
    <servlet-class>servlet.StatisticheCampagnaGes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticheCampagnaGestore</servlet-name>
    <url-pattern>/servlet11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticheCampagnaWorker</servlet-name>
    <servlet-class>servlet.StatisticheCampagnaWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticheCampagnaWorker</servlet-name>
    <url-pattern>/servlet12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccettaAnnotazioneImmagine</servlet-name>
    <servlet-class>servlet.AccettazioneAnnotazioneImmagine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccettaAnnotazioneImmagine</servlet-name>
    <url-pattern>/servlet13</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>